/* Fonts */
body {
    font-family: 'Funnel Display', sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.font-semibold {
    font-weight: 300;
}

/* Menubar */
div[role="menubar"] {
    border: none;
    padding: 0.50rem;
    background-color: rgba(205, 228, 255, 0.75);
}

div[role="menubar"] button {
    border-left: 1px solid #b5cbe4;
    border-radius: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

div[role="menubar"] button p {
    color: #1d2a3b;
}

div[role="menubar"] button:first-child {
    border: none;
}

div[role="menubar"] button[data-state="open"], div[role="menubar"] button[data-hightlighted], div[role="menubar"] .focus\:bg-accent:focus {
    background: none !important;
    font-weight: 400;
    color: #0d1826;
}

/* Icons */
.lucide {
    color: #57677e;
    width: 20px;
    height: 20px;
    stroke-width: 1.5;
}

.text-card-foreground  .accordian .lucide {
    color: #b5cbe4;
    margin-top: 2px;
}

.text-card-foreground .lucide {
    color: #1d2a3b;
}

div[role="menubar"] button[data-state="open"] .lucide,
div[role="menubar"] button[data-hightlighted] .lucide,
div[role="menubar"] .focus\:bg-accent:focus .lucide
{
    color: #0d1826;
    stroke-width: 2;
}

/* Footer */
.footer-item {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.transfer-details {
    padding-top: 30px;
}

.selectIcon {
    margin: 4px 10px 4px 4px;
}

button.action-button {
    color: #1d2a3b;
    background: linear-gradient(to bottom, #bca4ec, #cfb9fa);
    box-shadow: #0a3563 0 2px 2px 0;
    padding: 22px;
}

button.action-button:hover, button.action-button:focus {
    color: #1d2a3b;
    background: linear-gradient(to bottom, #bca4ec, #cfb9fa);
    box-shadow:
            0 -2px 4px rgb(225, 207, 255),
            0 2px 6px rgba(0, 123, 255, 0.2);
    border-width: 1px;
    border-color: #e8f0ff;
}

button.action-button:active {
    transform: translateY(1px);
}

.font-highlight {
    padding: 10px 30px;
    text-align: center;
    background: linear-gradient(to bottom, #97b1d1, #bccbe5);
    color: #1d2a3b;
    box-shadow: #0a3563 0 2px 2px 0;
}

button[role="combobox"], input, .data-radix-popper-content-wrapper button, .select-box[data-state="open"], .select-box[data-state="open"] .select-item, .fake-dropdown {
    border-color: #ffffff !important;
    background-color: #ebe4ff !important;
    color: #1d2a3b;
}

button[role="combobox"], input, .fake-dropdown  {
    padding: 20px 10px !important;
    border-width: 1px !important;
    margin-top: 2px !important;
    box-shadow: #0a3563 0 2px 2px 0;
}

body {
    background-image: url("/images/snow.png");
    background-size:cover
}

.text-card-foreground {
    background: linear-gradient(to bottom, #0e3359, #2363a9);
    border: none;
    padding: 10px;
    color: #d0e2fc !important;
}

label:not(.text-muted-foreground) {
    color: #d0e2fc;
    text-transform: uppercase;
}

label {
    margin:0;
    padding:0;
}

.text-muted-foreground {
    color: #97b2e1;
}

.focus\:ring-ring:focus {
    --tw-ring-color: hsl(0deg 0% 100%);
    border-radius: 1px;
}

.shadow-sm {
    box-shadow: 0 1px 1px rgba(179, 195, 203, 0.15),
    0 2px 2px rgba(179, 195, 203, 0.15),
    0 4px 4px rgba(179, 195, 203, 0.15),
    0 8px 8px rgba(179, 195, 203, 0.15),
    0 16px 16px rgba(179, 195, 203, 0.15);
}

.text-light {
    color: white;
}

button.action-button,
button[role="combobox"],
input,
.data-radix-popper-content-wrapper button,
.select-box[data-state="open"],
.select-box[data-state="open"] .select-item,
.text-card-foreground,
div[role="menubar"],
.fake-dropdown,
.font-highlight,
.outline-button[data-state="off"],
.outline-button[data-state="on"]{
   border-radius: 30px !important;
}

h3 {
    color: #ffffff;
}

.text-zinc-400 {
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity, 1));
}

.badge {
    background-color: #b2d0e8;
    border: none;
}
.badge.bg-destructive {
    background-color: #f87e7e !important;
}
.badge.bg-secondary {
    background-color: #a9f87e !important;
}

.text-green-700 {
    color: #a9f87e !important;
}

.text-red-700 {
    color: #ff9a9a !important;
}

.walletModal {
    background: linear-gradient(to bottom, #0e3359, #2363a9);
    color: #ffffff;
}

.outline-button, .outline-button .lucide {
    color: #1d2a3b;
}

.link-button .lucide {
    color: #d4d9e3;
}

.outline-button[data-state="off"], .outline-button[data-state="off"] .lucide {
    color: #d4d9e3;
}

.outline-button[data-state="off"] {
    border-color: #d4d9e3;
}
